@model int

<form asp-action="Adiciona"
    data-ajax="true" data-ajax-method="post"
    data-ajax-mode="replace" data-ajax-update="#tabela">
    <input type="hidden" name="Id" value="@Model" />
    <div>
        <input type="number" name="Novos" min="0" />
        <input type="submit" value="+" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
